@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
body{
    font-family: 'Poppins', sans-serif !important;
}
h1,h2{
    font-size: 48px;
}
.header-bg{
    background-color: #264653;
}
.footer-bg{
    background-color: #0B0D17;
}
#banner p,#banner h1{
    color:#fff;
}
a{
    color: #fff !important;
    text-decoration: none;
}
.p-color{
    color: #eb4f29;
}
.bar::after{
    content: "";
    display: block;
    background-color: #eb4f29;
    height: 3px;
    width: 50px;
    margin: 0 auto;
}
.btn-color{
    width: 150px;
    font-size: 18px;
    background-color: #E76F51;
    color: #fff;
}
.btn-color:hover{
    background-color: #eb4f29;
    color: #fff;
}
.btn-color-1{
    border: 2px solid #E76F51;
}
.btn-color-1:hover,.button:hover{
    background-color:#eb4f29;
    color: #fff;
}
.grayscle{
    filter: grayscale(100%);
}
.fa-star{
    color: #eb4f29;
}
label{
    font-size: 20px;
}
input,.button,textarea{
    width: 300px;
    padding: 10px;
    border:2px solid #E76F51;
    border-radius: 10px;
    margin: 10px 0;
}

footer{
    color: #fff;
}

.footer-nav li{
    margin:20px;
}
.app{
    width: 200px;
    margin: 10px 0;
}

/*=========================
 End 
 ====================*/